/* CSS declarations go here */
#footer {
    display:grid;
    position: absolute;
    bottom: 3px;
    height: 8%;
    width: 100%;
    background-color: black;
    color:white;
    justify-content: center;
}

#footer:hover {
  background-color: grey;
}
